
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_general.cshtml";
}



<form id="RegisterValidation" action="" method="">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="orange">
            <img src="https://img.icons8.com/dotty/40/000000/trademark.png">
        </div>
        <div class="card-content">
            <h4 class="card-title">Marcas </h4>
            <p class="description">
                Este módulo permite agregar/editar/Eliminar Marcas de Vehiculos
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-md-3">
                            <input id="ID_MARCA" type="hidden" value="">
                            <label class="control-label">Marca</label>
                            <input id="TxtDescripcion" type="text" class="form-control text-uppercase" />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">VIGENCIA</label>
                            <select class="selectpicker" data-style="btn btn-default" data-size="7" id="CmbVigencia">
                                <option value="1">Vigente</option>
                                <option value="0">No Vigente</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <input id="txtID_Marca" class="hidden" />
                            <button type="button" class="btn btn-rose btn-fill" id="Btn_Guardar">GUARDAR</button>
                            <button type="button" class="btn btn-success btn-fill" id="Btn_Modificar" disabled="disabled">MODIFICAR</button>
                            <button type="button" class="btn btn-danger" onclick="javascript: Nuevo();">NUEVA </button>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header" data-background-color="orange">
                                    <h4 class="card-title">Marca Vehiculos Ingresados </h4>
                                    <p class="category">Seleccione la Marca que desea Editar / Eliminar </p>
                                    <a href="javascript:TablaToExcel();"><img src="https://img.icons8.com/metro/25/000000/download.png"> Exportar Excel</a>
                                </div>
                                <div class="card-content table-responsive ">
                                    <table id="TablaDatos" class="table table-striped small table-hover">
                                        <thead>
                                            <tr>
                                                <th>DESCRIPCION</th>
                                                <th>VIGENCIA</th>
                                                <th>EDITAR</th>
                                                <th>ELIMINAR</th>
                                            </tr>
                                        </thead>
                                        <tbody id="listarVehiculos">


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input id="TxtID" type="text" class="hidden" />
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script>

    $(document).ready(function () {


         //$('#TablaDatos').DataTable({
         //                       "language": {
         //                           "url": "../assets/js/Chile.json"
         //                       },
         //                       "pageLength": 100

         //});
        cargaListadoMarcas();

    });


    function cargaListadoMarcas()
    {
        $.ajax({
            type: "POST",
            url: "/Marca/ObtieneListadoMarcas",
            content: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response)
            {
                try
                {
                    var data = jQuery.parseJSON(JSON.stringify(response));  // AQUI SE REVISA LA RESPUESTA DEL SERVICIO
                    let listaMarcas = jQuery.parseJSON(data.Descripcion)
                    console.log(listaMarcas);
                    if (data.Respuesta == "OK") // AQUI MANEJA SI EL SERVICIO RETORNO OK O CONTROLES DE ERROR
                    {
                        $("#listarVehiculos").html("");
                        

                        $.each(listaMarcas, function (index, item) {
                            var vigencia = item.VIGENCIA;

                            if (vigencia == 1) {
                                vigencia = "Vigente";
                            } else {
                                vigencia = "no vigente";

                            }   
                            let strHtml = '';

                             strHtml += '<tr>';
                             strHtml += '<td>' + item.DESCRIPCION + '</td>';
                             strHtml += '<td>' + vigencia + '</td>';
                             strHtml += '<td> <a href="#" onclick="obtenerDatosMarca('+item.ID_MARCA+')"><img src="https://img.icons8.com/ultraviolet/25/000000/pencil.png"></a></td>';
                             strHtml += '<td> <a href="#" onclick="Eliminar('+item.ID_MARCA+')"><img src="https://img.icons8.com/ultraviolet/25/000000/delete-sign.png"></a></td>'
                             strHtml += '</tr">';

                             $("#listarVehiculos").append(strHtml);
                           
                        });

                  
                    }  // IF LA RESPUESTA DEL SERVICIO ES NOK ERROR CONTROLADO......
                    else {
                        swal({
                            title: 'Automotriz Larrain',
                            text: 'Error al obtener listado de marcas' + data.Detalle_Error + '',
                            type: 'error',
                            confirmButtonColor: '#FE6A00',
                            confirmButtonText: 'OK',
                            confirmButtonClass: 'btn btn-info',
                            allowEscapeKey: false,
                            allowOutsideClick: false
                        });

                        return false;
                    }

                } catch (err) { // ACCIÓN DEL ERROR DE JAVASCRIPT

                    swal({
                        title: 'Automotriz Larrain',
                        text: 'Error al listar las marcas ' + data.Detalle_Error + '',
                        type: 'error',
                        confirmButtonColor: '#FE6A00',
                        confirmButtonText: 'OK',
                        confirmButtonClass: 'btn btn-info'
                    });

                    return false;
                }

            },
            error: function (xhr, textStatus, errorThrown) { // ACCIÓN DEL ERROR DEL SERVICIO AJAX.
                swal({
                    title: 'Automotriz Larrain',
                    text: 'Error de Conexión' + textStatus + '',
                    type: 'error',
                    confirmButtonColor: '#FE6A00',
                    confirmButtonText: 'OK',
                    confirmButtonClass: 'btn btn-info'
                });

                return false;
            }
        });
    }

    function limpiarDatos() {
        $("#ID_MARCA").val(0);
        $("#CmbVigencia").val(0);
        $("#CmbVigencia").selectpicker('refresh');

        $("#TxtDescripcion").val("");
       
    }

    function subiraFormulario() {
        let elemento = document.getElementById('minimizeSidebar');
        elemento.scrollIntoView();
    }

    function obtenerDatosMarca(IdMarca) {
        gfProceso();
        let Marca = {
            ID_MARCA:IdMarca
        }

        $.ajax({
            type: "POST",
            url: "/Marca/ObtieneMarcaPorId",
            content: "application/json; charset=utf-8",
            dataType: "json",
            data: Marca,
            success: function (response)
            {
                 gfProceso();
                try
                {
                    var data = jQuery.parseJSON(JSON.stringify(response));  // AQUI SE REVISA LA RESPUESTA DEL SERVICIO
                    
                    let detalle = jQuery.parseJSON(data.Descripcion)
   

                    if (data.Respuesta == "OK") // AQUI MANEJA SI EL SERVICIO RETORNO OK O CONTROLES DE ERROR
                    {
                        $('#ID_MARCA').val(detalle.ID_MARCA);
                        $('#TxtDescripcion').val(detalle.DESCRIPCION);
                        $('#CmbVigencia').val(detalle.VIGENCIA);
                        $("#CmbVigencia").selectpicker('refresh');

                        $("#Btn_Modificar").removeAttr("disabled");
                         $("#Btn_Guardar").attr("disabled", true);
                        subiraFormulario();
                        //scrollToDiv("minimizeSidebar");

                      
                    }  // IF LA RESPUESTA DEL SERVICIO ES NOK ERROR CONTROLADO......
                    else {
                        swal({
                            title: 'Automotriz Larrain',
                            text: 'Error al obtener los datos de la Marca' + data.Detalle_Error + '',
                            type: 'error',
                            confirmButtonColor: '#FE6A00',
                            confirmButtonText: 'OK',
                            confirmButtonClass: 'btn btn-info',
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                        });

                        return false;
                    }

                } catch (err) { // ACCIÓN DEL ERROR DE JAVASCRIPT
                     gfProceso();
                    swal({
                        title: 'Automotriz Larrain',
                        text: 'Error al obtener la marca ' + data.Detalle_Error + '',
                        type: 'error',
                        confirmButtonColor: '#FE6A00',
                        confirmButtonText: 'OK',
                        confirmButtonClass: 'btn btn-info',
                        allowEscapeKey: false,
                            allowOutsideClick: false,
                    });

                    return false;
                }

            },
            error: function (xhr, textStatus, errorThrown) { // ACCIÓN DEL ERROR DEL SERVICIO AJAX.
                 gfProceso();
                swal({
                    title: 'Automotriz Larrain',
                    text: 'Error de Conexión' + textStatus + '',
                    type: 'error',
                    confirmButtonColor: '#FE6A00',
                    confirmButtonText: 'OK',
                    confirmButtonClass: 'btn btn-info',
                    allowEscapeKey: false,
                            allowOutsideClick: false,
                });

                return false;
            }
        });
    }

    //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    function validar() {
        let vigencia = $("#CmbVigencia").val();
        let usuario = $("#TxtDescripcion").val();
        

        if (vigencia == 0 ) {

            return false;
        } else if (usuario =="" || usuario ==null ) {
            return false;
        } else {
            return true
        }

    }
    $('#Btn_Guardar').click(function (e) {
        let valido = false;
        valido = validar();

        if (valido == false) {
         swal({
                            title: 'Larrain automotriz',
                            text: "Debe rellenar todos los campos",
                            type: 'error',
                             customClass: 'swalAjustado',
                            confirmButtonColor: '#299BE8',
                            confirmButtonText: 'OK',
                            confirmButtonClass: 'btn btn-info'
         });
            return false;
        }
         gfProceso();
        // Estructura de la Clase para Guardar Información
        let Marca = {
            DESCRIPCION: $('#TxtDescripcion').val(),
            VIGENCIA: $('#CmbVigencia').val()
        }


        $.ajax({
            type: "POST",
            url: "/Marca/AgregarMarca",
            content: "application/json; charset=utf-8",
            dataType: "json",
            data: Marca,
            success: function (response) {
                 gfProceso();
                // FUNCION PARA VALIDAR AJAX Y RESPUESTA..
                var data;
                var detalle;
                try {  // AQUI SE CONTROLA EL ERROR DE JAVASCRIPT


                    data = jQuery.parseJSON(JSON.stringify(response));  // AQUI SE REVISA LA RESPUESTA DEL SERVICIO

                    if (data.Respuesta == "OK") // AQUI MANEJA SI EL SERVICIO RETORNO OK O CONTROLES DE ERROR
                    {

                        swal({
                            title: 'Automotriz Larrain',
                            text: "Se agregó la marca correctamente",
                            type: 'success',
                            confirmButtonColor: '#4caf50',
                            //cancelButtonColor: '#d33',
                            confirmButtonText: 'OK',
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            onClose: function () {
                                cargaListadoMarcas();
                                limpiarDatos();

                            }

                        });

                    }  // IF LA RESPUESTA DEL SERVICIO ES NOK ERROR CONTROLADO......
                    else {



                        swal({
                            title: 'Automotriz Larrain',
                            text: 'Error al agregar la marca' + data.Detalle_Error + '',
                            type: 'error',
                            confirmButtonColor: '#FE6A00',
                            confirmButtonText: 'OK',
                            confirmButtonClass: 'btn btn-info',
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                        });

                        return false;
                    }

                } catch (err) { // ACCIÓN DEL ERROR DE JAVASCRIPT

                     gfProceso();
                    swal({
                        title: 'Automotriz Larrain',
                        text: 'Error al agregar la Marca ' + data.Detalle_Error + '',
                        type: 'error',
                        confirmButtonColor: '#FE6A00',
                        confirmButtonText: 'OK',
                        confirmButtonClass: 'btn btn-info',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return false;
                }



            },
            error: function (xhr, textStatus, errorThrown) { // ACCIÓN DEL ERROR DEL SERVICIO AJAX.
                 gfProceso();
                swal({
                    title: 'Automotriz Larrain',
                    text: 'Error de Conexión' + textStatus + '',
                    type: 'error',
                    confirmButtonColor: '#FE6A00',
                    confirmButtonText: 'OK',
                    confirmButtonClass: 'btn btn-info',
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                });


                return false;
            }
        });



    });


    $('#Btn_Modificar').click(function (e) {
         gfProceso();
        // Estructura de la Clase para Guardar Información
        let Marca = {
            ID_MARCA: $('#ID_MARCA').val(),
            DESCRIPCION: $('#TxtDescripcion').val(),
            VIGENCIA: $('#CmbVigencia').val()
        }

        $.ajax({
            type: "POST",
            url: "/Marca/Editar_Marca",
            content: "application/json; charset=utf-8",
            dataType: "json",
            data: Marca,

            success: function (response) {
                 gfProceso();
                var Data = response;


                if (Data.Respuesta == "OK") {


                    swal({
                        title: 'Automotriz Larrain',
                        text: 'Se ha hactualizado correctamente los datos de la marca' + Marca.DESCRIPCION,
                        type: 'success',
                        confirmButtonColor: '#FE6A00',
                        confirmButtonText: 'Continuar',
                        confirmButtonClass: 'btn btn-info',
                        allowEscapeKey: false,
                            allowOutsideClick: false,
                        onClose: function () {
                            cargaListadoMarcas();
                            limpiarDatos();
                         $("#Btn_Guardar").removeAttr("disabled");
                         $("#Btn_Modificar").attr("disabled", true);

                        }
                    });

                }
                else {
                    swal({
                        title: 'Automotriz Larrain',
                        text: 'ERROR al Modificar la marca  ' + Data.Detalle_Error,
                        type: 'warning',
                        confirmButtonColor: '#FE6A00',
                        confirmButtonText: 'OK',
                        confirmButtonClass: 'btn btn-info',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    })
                }
            },

            error: function (xhr, textStatus, errorThrown) {
                 gfProceso();
                swal({
                    title: 'Automotriz Larrain',
                    text: 'ERROR al Modificar la marca seleccionada' + textStatus,
                    type: 'warning',
                    confirmButtonColor: '#FE6A00',
                    confirmButtonText: 'OK',
                    confirmButtonClass: 'btn btn-info',
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                })
            }
        });
    });





   

    function Eliminar(ID_Marca) {
        
        let Marca = {
            ID_MARCA:ID_Marca
        }

        swal({
            title: 'Automotriz Larrain ',
            text: "Se eliminara LA MARCA SELECCIONADA",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#4caf50',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Confirmar',
            allowEscapeKey: false,
            allowOutsideClick: false,

        }).then(function () {
             gfProceso();
            // AJAX

            $.ajax({
                type: "POST",
                url: "/Marca/EliminarMarca",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: Marca,

                success: function (response) {
                     gfProceso();
                    // FUNCION PARA VALIDAR AJAX Y RESPUESTA..
                    var data;
                    var detalle;
                    try {  // AQUI SE CONTROLA EL ERROR DE JAVASCRIPT
                        data = jQuery.parseJSON(JSON.stringify(response));  // AQUI SE REVISA LA RESPUESTA DEL SERVICIO

                        if (data.Respuesta == "OK") // AQUI MANEJA SI EL SERVICIO RETORNO OK O CONTROLES DE ERROR
                        {

                            swal({
                                title: 'Automotriz Larrain ',
                                text: "Marca eliminada con éxito",
                                type: 'success',
                                confirmButtonColor: '#4caf50',
                                //cancelButtonColor: '#d33',
                                confirmButtonText: 'OK',
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                                onClose: function () {
                                    cargaListadoMarcas();
  
                                }

                            });


                        }  // IF LA RESPUESTA DEL SERVICIO ES NOK ERROR CONTROLADO......
                        else {



                            swal({
                                title: 'Automotriz Larrain',
                                text:  data.Detalle_Error + '',
                                type: 'error',
                                confirmButtonColor: '#FE6A00',
                                confirmButtonText: 'OK',
                                confirmButtonClass: 'btn btn-info',
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });




                            return false;
                        }

                    } catch (err) { // ACCIÓN DEL ERROR DE JAVASCRIPT
                         gfProceso();

                        swal({
                            title: 'Automotriz Larrain',
                            text: 'Error al eliminar la marca' + data.Detalle_Error + '',
                            type: 'error',
                            confirmButtonColor: '#FE6A00',
                            confirmButtonText: 'OK',
                            confirmButtonClass: 'btn btn-info',
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                        });



                        return false;
                    }



                },
                error: function (xhr, textStatus, errorThrown) { // ACCIÓN DEL ERROR DEL SERVICIO AJAX.

                    swal({
                        title: 'Automotriz Larrain',
                        text: 'Error de Conexión' + textStatus + '',
                        type: 'error',
                        confirmButtonColor: '#FE6A00',
                        confirmButtonText: 'OK',
                        confirmButtonClass: 'btn btn-info',
                        allowEscapeKey: false,
                            allowOutsideClick: false,
                    });

                    gfProceso();
                    return false;
                }
            });

            //FIN



        }).catch(function (reason) {
            //  alert("The alert was dismissed by the user: " + reason);
        });





    }


    //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


    function TablaToExcel() {



        $("#TablaDatos").table2excel({
            //exclude: ".noExl",
            name: "Tipo de Carga",
            filename: "Tipo de Carga",
            fileext: ".xls",
            exclude_img: true,
            exclude_links: true,
            exclude_inputs: true
        });


    }


</script>
